$ipad: 800px;
$phone: 450px;

$color-menu--top: #3A3A3A;
$color-menu--bottom: #303231;
$color-hightlight: #7a7e7c;
$color-font-content: #303030;
$color-bg-content: rgb(238, 231, 221);
$color-insane: #a91ce1;
$color-critical: #af1010;
$color-danger: #e74c3c;
$color-warning: #ff9800;
$color-success: #4CAF50;
$color-accent: #03A9F4;
$color-accent-light: rgba(3, 168, 244, 0.4);
$color-accent-dark:  #34495e;